.form-text {
  cursor: default;
  margin: 0px;
  margin-bottom: 4px;
}
.ql-toolbar {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
.ql-container {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.ql-editor {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;

  min-height: 200px;
}

.describe {
  padding: 10px;
}
