.tag {
  background-color: #d0e3f1;
  color: #2c5877;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: small;
  margin-right: 5px;
  border-radius: 5px;
}
.askedby {
  font-size: smaller;
}
.totalAns,
.vote {
  font-size: small;
  margin-right: 5px;
}
